.experience-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto 30px;
}

.experience-container > div {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin: 8px 2.5%;
}

.experience-container p {
  margin: 2.4px 0;
}

.experience-container input {
  font-size: 16px;
  height: 21px;
}

.experience-container .main-job-tasks, .experience-container .current-employer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.experience-container .main-job-tasks label {
  flex-basis: 100%;
}

.experience-container .main-job-tasks input {
  flex-basis: 88.5%;
  margin-bottom: 10px;
}

.experience-container .main-job-tasks i {
  font-size: 1.5rem;
  margin: 0 0 10px 10px;
}

.experience-container > div {
  margin: 3px 0;
}

.experience-container .current-employer {
  margin: 15px 0;
}

.experience-container .current-employer input {
  margin: 6px 0 0 15px;
}

.experience-container .submit-section-btn {
  margin-top: 20px;
  width: 160px;
  height: 25px;
}

.experience-container .company-name, .experience-container .position-title, .experience-container .start-date, .experience-container .end-date {
  margin: 0 15px;
}

.experience-container .main-job-tasks .display-tasks {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  border: 1px solid #ccc;
}

.experience-container .main-job-tasks .display-tasks div{
  display: flex;
  justify-content: space-around;
  width: 550px;
}

.experience-container .main-job-tasks i {
  padding-top: 5px;
  font-size: 1.2rem;
}
        