.personal-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
}

.personal-container div {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin: 4px 2.5%;
}

.personal-container .submit-section-btn {
  margin-top: 20px;
  width: 160px;
  height: 25px;
}