.header-container {
  background-color: #222;
}

.header-container h1 {
  margin: 0;
  padding: 8px 0 8px 20px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .header-container {
    text-align: center;
  }

  .header-container h1 {
    padding-left: 0;
  }
}