.score-container {
  position: absolute;
  top: 0;
  left: 39.5%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  color: #fff;
  background-color: #9370DB;
  border-radius: 0 0 20px 20px;
}

.score-container p {
  font-size: 1.1rem;
  font-weight: 600;
}