.score-container {
  position: absolute;
  top: 0;
  left: 39.5%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  color: #fff;
  background-color: #444;
  border: 5px solid #000;
  border-top: 0;
  border-radius: 0 0 20px 20px;
}

.score-container p {
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .score-container {
    position: static;
  }

  .score-container p {
    margin: 10px;
  }
}